*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/libs
/app/src/androidTest
/sdk
/java
gradlew
gradlew.bat
gradle.properties
import-summary.txt
settings.gradle
/gradle